#flavorTeam{
  margin: 20px
}
.table-responsive{
  font-size: 20px;
}
#foodTagScoreTable, #cuisine{
  height: 100vh;
  border-right: 1px solid lightgray;
}
.table th,td{
  text-align: center;
}
#imgDown{
  position: fixed;
  z-index: 10;
}
#imgUp{
  position: fixed;
  z-index: 10;
  bottom: 0;
  vertical-align: bottom;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
